@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.ttf?t=1571281819918') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-loading {
    animation: loading 0.5s infinite linear;
}
@keyframes loading {
    0% {transform: rotateZ(0)}
    100% {transform: rotateZ(360deg)}
}



.icon-shouye:before {
    content: "\e619";
}

.icon-shangchuan:before {
    content: "\e620";
}

.icon-fenxiang-1:before {
    content: "\e60b";
}

.icon-gouwuche:before {
    content: "\e60c";
}

.icon-success:before {
    content: "\e604";
}

.icon-loading:before {
    content: "\e771";
}

.icon-search:before {
    content: "\e630";
}

.icon-gengduo1:before {
    content: "\e617";
}

.icon-fanhui:before {
    content: "\e716";
}

.icon-gengduo:before {
    content: "\e86d";
}

.icon-kefu:before {
    content: "\e605";
}

.icon-shibai:before {
    content: "\e62d";
}

.icon-changyongtubiao-xianxingdaochu-zhuanqu-:before {
    content: "\e76b";
}

.icon-arrow-down:before {
    content: "\e717";
}

