.event-class {
    border-radius: 4px;
    font-size: 12px;
    margin-top: 5px;
    margin-right:0 !important;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    /*right: 0 !important;*/
    /*top: 0 !important;*/
}

.g-container {
    position: fixed;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    z-index: 1;
}

#calendarSubmit {
    padding: 15px;
}
/* 修改按钮样式 */
.fc-button-primary {
    background-color: #5198de;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* 修改列头样式 */
.fc-widget-header {
    background-color: #f2f1f3;
}
/* 工作台列头居中 */
.fc-cell-content {
    text-align: center;
}
