.event-class {
    border-radius: 4px;
    font-size: 14px;
    margin-top: 5px;
    margin-right:10px;
    cursor: pointer;
    /*right: unset !important;*/
    /*top: 0 !important;*/
}

.g-container {
    position: fixed;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    z-index: 1;
}

#calendarSubmit {
    padding: 15px;
}