<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>日历图</title>
    <!--    lib-->
    <link rel="stylesheet" href="../lib/fullcalendar-4.3.1/packages/core/main.min.css">
    <link rel="stylesheet" href="../lib/fullcalendar-4.3.1/packages/timeline/main.min.css">
    <link rel="stylesheet" href="../lib/fullcalendar-4.3.1/packages/resource-timeline/main.min.css">
    <link rel="stylesheet" href="../lib/jquery-easyui-1.7.0/themes/bootstrap/easyui.css">
    <link rel="stylesheet" href="../lib/jquery-easyui-1.7.0/themes/icon.css">
    <!--    custom-->
    <link rel="stylesheet" href="../static/styles/iconfont.css">
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>

    <!--   日历 -->
    <div class="g-container">
        <div id="calendarContainer"></div>
    </div>

    <!--   添加任务 dialog -->
    <div id="calendarSubmit" style="display: none;">
        <form id="calendarForm" method="post">
            <div style="margin-bottom:20px">
<!--                ,required:true-->
                <input class="easyui-textbox" name="taskName" style="width:100%" data-options="label:'任务名称:'">
            </div>
            <div style="margin-bottom:20px;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
                <div style="flex: 1;">
                    <input class="easyui-datetimebox" name="dateTimeStart" labelPosition="left" style="width: 100%;" data-options="label:'开始时间:'">
                </div>
                <div style="width: 20px;"></div>
                <div style="flex: 1;">
                    <input class="easyui-datetimebox" name="dateTimeEnd" labelPosition="left" style="width: 100%;" data-options="label:'结束时间:'">
                </div>
            </div>
            <div style="margin-bottom:20px">
                <select id="selectRobotId" class="easyui-combobox" name="selectRobotId" label="工作台:" style="width:100%" data-options="">
                </select>
            </div>
            <div style="margin-bottom:20px">
                <span>任务类型:</span>
                <input class="easyui-radiobutton" name="robotType" value="all" label="双臂" labelAlign="right" data-options="required:true">
                <input class="easyui-radiobutton" name="robotType" value="left" label="主臂" labelAlign="right" data-options="required:true">
                <input class="easyui-radiobutton" name="robotType" value="right" label="副臂" labelAlign="right" data-options="required:true">
            </div>
        </form>
    </div>
<!--    任务显示-->
    <div id="taskInfo">

    </div>

<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/fullcalendar-4.3.1/packages/core/main.min.js"></script>
<script type="text/javascript" src="../lib/fullcalendar-4.3.1/packages/timeline/main.min.js"></script>
<script type="text/javascript" src="../lib/fullcalendar-4.3.1/packages/resource-common/main.min.js"></script>
<script type="text/javascript" src="../lib/fullcalendar-4.3.1/packages/interaction/main.min.js"></script>
<script type="text/javascript" src="../lib/fullcalendar-4.3.1/packages/resource-timeline/main.min.js"></script>
<script type="text/javascript" src="../lib/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../lib/lib.js"></script>
<script type="text/javascript" src="../lib/iframe.js"></script>
<script type="text/javascript" src="../static/javascript/calendar.js"></script>
</body>
</html>