<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>日历图</title>
    <!--    lib-->
    <link rel="stylesheet" href="../lib/fullcalendar-4.3.1/packages/core/main.min.css">
    <link rel="stylesheet" href="../lib/fullcalendar-4.3.1/packages/timeline/main.min.css">
    <link rel="stylesheet" href="../lib/fullcalendar-4.3.1/packages/resource-timeline/main.min.css">
    <link rel="stylesheet" href="../lib/jquery-easyui-1.7.0/themes/bootstrap/easyui.css">
    <link rel="stylesheet" href="../lib/jquery-easyui-1.7.0/themes/icon.css">
    <!--    custom-->
    <link rel="stylesheet" href="../static/styles/iconfont.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script>

    </script>
</head>
<body>
<!--   甘特 -->
<div class="g-container">
    <div id="gunterContainer"></div>
</div>

<!--   任务详情 dialog -->
<div id="detail" style="display: none;">
<!--    <table id="detailTable"></table>-->
</div>

<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/fullcalendar-4.3.1/packages/core/main.min.js"></script>
<script type="text/javascript" src="../lib/fullcalendar-4.3.1/packages/timeline/main.min.js"></script>
<script type="text/javascript" src="../lib/fullcalendar-4.3.1/packages/resource-common/main.min.js"></script>
<script type="text/javascript" src="../lib/fullcalendar-4.3.1/packages/interaction/main.min.js"></script>
<script type="text/javascript" src="../lib/fullcalendar-4.3.1/packages/resource-timeline/main.min.js"></script>
<script type="text/javascript" src="../lib/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../lib/lib.js"></script>
<script type="text/javascript" src="../static/javascript/gunter.js"></script>
</body>
</html>